/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 nov. 2018, 14:18:33
    Author     : Nathan
*/

*
{
    font-family: Arial, Helvetica, sans-serif;
}

#entete, #logged, #divdemande, #divoffre
{
    display: flex;
    justify-content: space-between;
}

h1
{
    color: green;
    font-weight: bold;

}

h2
{
    color: #009933;
}

.supertabs, .enteteEl
{
    display: flex;
}

.dt
{
    padding-left:20px;
    padding-right: 20px;
    padding-bottom: 40px;
}

.menubutton
{
    margin-bottom: 7px;
}

.spangreen
{
    font-weight: bold;
    color: green;
}

#coBody
{
    display: flex;
    justify-content: space-around;
}

.coForm
{
    margin-bottom: 7px;
}

.image-ring .ui-ring-item {
    border:0 none;
}

.image-ring .ui-ring-item img {
    width: 100%;
}

